@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  background-color: black;
}

.panels-container {
  display: flex;
  margin: 40px 0;
  max-width: 1024px;
}

.panel {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  color: pink;
  cursor: pointer;
  flex-wrap:reverse;
  flex: 0.75;
  height: 500px;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in;
}

.panel.active {
  flex: 5;
}

.panel:nth-child(1) {
  background-image: url('../images/black.jpg');
}
.panel:nth-child(2) {
  background-image: url('../images/justiceGap.png');
}
.panel:nth-child(3) {
  background-image: url('../images/pride.jpg');
}
.panel:nth-child(4) {
  background-image: url('../images/maya.jpg');
}
.panel:nth-child(5) {
  background-image: url('../images/wall.jpeg');
}

/*
@media(max-width: 30px) {
    .container{
        width: 1vw;
    }
    .panel:nth-of-type(9), 
    .panel:nth-of-type(12){
        display:none;
    }

}
*/

