@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  background-color: black;
  background-image: url("../images/words.jpeg")
}

.panels-container {

  display:flex;

}

.panel {
 
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  border-radius: 50px;
  color: pink;
  cursor: pointer;
  flex-wrap:reverse;
  width: 57%;
  height: 222px;
  margin: 15px;
  transition: all 700ms ease-in;

}

.panel.active {
  width: 100%;

}

.panel:nth-child(1) {
  background-image: url('../images/angie.jpeg');
}
.panel:nth-child(2) {
  background-image: url('../images/kalin.jpeg');
 }
.panel:nth-child(3) {
  background-image: url('../images/mlk2.jpeg');
}
.panel:nth-child(4) {
  
  background-image: url('../images/endMass.jpeg');
}
.panel:nth-child(5) {
   background-image: url('../images/rosa-parks.png');
}
.panel:nth-child(6) {
  background-image: url('../images/pride1.jpeg');
}
.panel:nth-child(7) {
  background-image: url('../images/billie.jpeg');
}


ul {
 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}




/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.video{
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 853px;
  

}


